<!DOCTYPE html>   
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Pour inscrire un duo, veuillez, mesdames, messieurs, renseigner votre prénom ci-dessous. </h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if not success_message %}
        <form method="POST" action="/">
            <label for="user1">Le prénom du pilote est à renseigner juste ici : </label>
            <input type="text" id="user1" name="user1"><br>
            {% if user1_text %}
                <p>{{ user1_text }}</p>
            {% endif %}
            <br>
        
            <label for="user2">Le prénom du copilote juste là : </label>
            <input type="text" id="user2" name="user2"><br>
            {% if user2_text %}
                <p>{{ user2_text }}</p>
            {% endif %}
        
            <br>
            <input type="submit" value="En avant Guingamp">
        </form>
    {% else %}
        <p>{{ success_message }}</p>
        {% if user1_text %}
            <p>{{ user1_text }}</p>
        {% endif %}
        {% if user2_text %}
            <p>{{ user2_text }}</p>
        {% endif %}
        <img id="image90s" src="{{ url_for('static', filename='images/90s_image.jpg') }}" alt="90s Image">
    {% endif %}
</body>
</html>
